.footer {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .contact {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 900px) {
  .footer {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 700px) {
  .footer {
    transform: scale(0.8);
  }
}
